/* body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

.card {
  width: 300px;
  background: white;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
}

.candidate {
  background: white;
  margin: 10px;
  padding: 15px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
} */

body {
  font-family: Arial;
  background: #eef2f7;
  text-align: center;
}

.card {
  background: white;
  width: 320px;
  margin: 120px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
}

.candidate {
  display: inline-block;
  background: white;
  padding: 20px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 5px #999;
}
